
;-------------------------------------------------------------------------------------------------------------------------------------------------------------------
;キャラの性格の設定
@FIRSTSETTING_CHARA_SEIKAKU, ARG
#DIM LCOUNT
#DIM HAVE_TALENT
#DIM CONST SEIKAKU_NUM = 19
#DIM CONST SEIKAKU_START = 10
CALL LB
LCOUNT = LINECOUNT
$INPUT_LOOP
VARSET LOCAL
;성격 보정をリセット
FOR LOCAL:3, 0, 7
	LOCAL:1 = LOCAL:3
	SIF LOCAL:3 > 2
		LOCAL:1 = LOCAL:3 + 7
	CSVBASE NO:ARG, LOCAL:1
	BASE:ARG:(LOCAL:1) = RESULT
	MAXBASE:ARG:(LOCAL:1) = BASE:ARG:(LOCAL:1)
NEXT
;性格ランダムの場合
CALL SEIKAKU_CHECK, "GET_TALENT_VALUE", ARG
IF RESULT == 0
	LOCAL = SEIKAKU_START + RAND:(SEIKAKU_NUM)
	TALENT:ARG:LOCAL = 1
	IF TALENT:ARG:감정결여 > 0
		FOR LOCAL, 600, 700
			TALENT:ARG:LOCAL = 0
		NEXT
	ENDIF
ENDIF
;精神素質をリセット
HAVE_TALENT = 0
FOR LOCAL, 600, 700
	SIF TALENT:ARG:LOCAL > 0
		HAVE_TALENT ++
NEXT
PRINTFORML {ARG:0}人目のキャラ 『%NAME:ARG%』 の性格を設定してください
DRAWLINE
PRINTL 　　　　　　　　　　　　　　　体　気　性　　攻　防　敏　知　　恭　欲　屈　恥　苦　恐　구상
FOR LOCAL, 0, SEIKAKU_NUM
	SIF TALENT:ARG:(LOCAL + SEIKAKU_START) > 0
		SETCOLOR 0,255,180
	PRINTFORM 　　[{LOCAL, 2}]%TALENTNAME:(LOCAL + SEIKAKU_START),20,LEFT%
	RESETCOLOR
	PRINTPLAIN 　
	CALL SHOW_SEIKAKUHOSEI, LOCAL + SEIKAKU_START
	PRINTPLAIN 　
	CALL SHOW_RESISTSEX, LOCAL + SEIKAKU_START, ARG, 1
	PRINTPLAIN 　
	CALL SHOW_KOJO_EXIST, LOCAL + SEIKAKU_START, TALENT:ARG:남자
	IF TALENT:ARG:(LOCAL + SEIKAKU_START) > 0
		SETCOLOR 0,255,180
		PRINT  ＜
	ENDIF
	RESETCOLOR
	PRINTL 
NEXT
PRINTL 　　[98]구상があれば何でもいい（ランダムに選択）
PRINTL 　　[99]何でもいい（ランダムに選択）
DRAWLINE
PRINTFORML  精神素質({HAVE_TALENT}/4)　※素質名にマウスオーバーすると説明が表示されます
VARSET LOCALS
SIF TALENT:ARG:감정결여 > 0
	LOCALS += "<font color='#808080'>"
LOCALS += "　　社交性　　　　　"
IF TALENT:ARG:내성적 > 0
	LOCALS += @"<button value='100' title='%TALENT_INFO(600)%'>[100]　　내성적　　　　</button>"
ELSEIF TALENT:ARG:사교적 > 0
	LOCALS += @"<button value='100' title='%TALENT_INFO(601)%'>[100]　　사교적　　　　</button>"
ELSE
	LOCALS += @"<button value='100'>[100]　　─　　　　　　</button>"
ENDIF
LOCALS += "　　協調性　　　　　"
IF TALENT:ARG:제멋대로굼 > 0
	LOCALS += @"<button value='101' title='%TALENT_INFO(602)%'>[101]　　제멋대로굼　　　</button>"
ELSEIF TALENT:ARG:헌신적 > 0
	LOCALS += @"<button value='101' title='%TALENT_INFO(603)%'>[101]　　헌신적　　　　</button>"
ELSE
	LOCALS += @"<button value='101'>[101]　　─　　　　　　</button>"
ENDIF
SIF TALENT:ARG:감정결여 > 0
	LOCALS += "</font>"
HTML_PRINT LOCALS

VARSET LOCALS
SIF TALENT:ARG:감정결여 > 0
	LOCALS += "<font color='#808080'>"
LOCALS += "　　自尊心　　　　　"
IF TALENT:ARG:소심함 > 0
	LOCALS += @"<button value='102' title='%TALENT_INFO(604)%'>[102]　　소심함　　　　</button>"
ELSEIF TALENT:ARG:자존심높음 > 0
	LOCALS += @"<button value='102' title='%TALENT_INFO(605)%'>[102]　　자존심높음　</button>"
ELSE
	LOCALS += @"<button value='102'>[102]　　─　　　　　　</button>"
ENDIF
LOCALS += "　　性への関心　　　"
IF TALENT:ARG:보수적 > 0
	LOCALS += @"<button value='103' title='%TALENT_INFO(606)%'>[103]　　보수적　　　　</button>"
ELSEIF TALENT:ARG:호기심 > 0
	LOCALS += @"<button value='103' title='%TALENT_INFO(607)%'>[103]　　호기심　　　　</button>"
ELSE
	LOCALS += @"<button value='103'>[103]　　─　　　　　　</button>"
ENDIF
SIF TALENT:ARG:감정결여 > 0
	LOCALS += "</font>"
HTML_PRINT LOCALS

VARSET LOCALS
SIF TALENT:ARG:감정결여 > 0
	LOCALS += "<font color='#808080'>"
LOCALS += "　　ＳＭ　　　　　　"
IF TALENT:ARG:새드기질 > 0
	LOCALS += @"<button value='104' title='%TALENT_INFO(608)%'>[104]　　새드기질　　　</button>"
ELSEIF TALENT:ARG:마조기질 > 0
	LOCALS += @"<button value='104' title='%TALENT_INFO(609)%'>[104]　　마조기질　　　</button>"
ELSE
	LOCALS += @"<button value='104'>[104]　　─　　　　　　</button>"
ENDIF
LOCALS += "　　快楽応答　　　　"
IF TALENT:ARG:쾌감에솔직 > 0
	LOCALS += @"<button value='105' title='%TALENT_INFO(610)%'>[105]　　쾌감에솔직　　</button>"
ELSEIF TALENT:ARG:쾌감을부정 > 0
	LOCALS += @"<button value='105' title='%TALENT_INFO(611)%'>[105]　　쾌감을부정　　</button>"
ELSE
	LOCALS += @"<button value='105'>[105]　　─　　　　　　</button>"
ENDIF
SIF TALENT:ARG:감정결여 > 0
	LOCALS += "</font>"
HTML_PRINT LOCALS

VARSET LOCALS
SIF TALENT:ARG:감정결여 > 0
	LOCALS += "<font color='#808080'>"
LOCALS += "　　闘争心　　　　　"
IF TALENT:ARG:전투거부 > 0
	LOCALS += @"<button value='106' title='%TALENT_INFO(612)%'>[106]　　전투거부</button>"
ELSEIF TALENT:ARG:싸움꾼 > 0
	LOCALS += @"<button value='106' title='%TALENT_INFO(613)%'>[106]　　싸움꾼　　　</button>"
ELSE
	LOCALS += @"<button value='106'>[106]　　─　　　　　　</button>"
ENDIF
LOCALS += "　　羞恥心　　　　　"
IF TALENT:ARG:수줍음 > 0
	LOCALS += @"<button value='107' title='%TALENT_INFO(614)%'>[107]　　수줍음　　　</button>"
ELSEIF TALENT:ARG:배짱 > 0
	LOCALS += @"<button value='107' title='%TALENT_INFO(615)%'>[107]　　배짱　　　　　</button>"
ELSEIF TALENT:ARG:결벽증 > 0
	LOCALS += @"<button value='107' title='%TALENT_INFO(625)%'>[107]　　결벽증　　　　</button>"
ELSE
	LOCALS += @"<button value='107'>[107]　　─　　　　　　</button>"
ENDIF
SIF TALENT:ARG:감정결여 > 0
	LOCALS += "</font>"
HTML_PRINT LOCALS

VARSET LOCALS
SIF TALENT:ARG:감정결여 > 0
	LOCALS += "<font color='#808080'>"
LOCALS += "　　性の対象　　　　"
IF TALENT:ARG:인간불신 > 0
	LOCALS += @"<button value='108' title='%TALENT_INFO(616)%'>[108]　　인간불신　　　</button>"
ELSEIF TALENT:ARG:양도 > 0
	LOCALS += @"<button value='108' title='%TALENT_INFO(617)%'>[108]　　양도　　　　　</button>"
ELSEIF TALENT:ARG:남성기피 > 0
	LOCALS += @"<button value='108' title='%TALENT_INFO(618)%'>[108]　　남성기피　　　</button>"
ELSEIF TALENT:ARG:여성기피 > 0
	LOCALS += @"<button value='108' title='%TALENT_INFO(619)%'>[108]　　여성기피　　　</button>"
ELSE
	LOCALS += @"<button value='108'>[108]　　─　　　　　　</button>"
ENDIF
LOCALS += "　　魅力　　　　　　"
IF TALENT:ARG:모성적 > 0
	LOCALS += @"<button value='109' title='%TALENT_INFO(620)%'>[109]　　모성적　　　　</button>"
ELSEIF TALENT:ARG:소악마 > 0
	LOCALS += @"<button value='109' title='%TALENT_INFO(621)%'>[109]　　소악마　　　　</button>"
ELSEIF TALENT:ARG:눈에띄고싶어함 > 0
	LOCALS += @"<button value='109' title='%TALENT_INFO(622)%'>[109]　　눈에띄고싶어함　</button>"
ELSEIF TALENT:ARG:고상함 > 0
	LOCALS += @"<button value='109' title='%TALENT_INFO(623)%'>[109]　　고상함　　　　　</button>"
ELSEIF TALENT:ARG:울보 > 0
	LOCALS += @"<button value='109' title='%TALENT_INFO(624)%'>[109]　　울보　　　　</button>"
ELSE
	LOCALS += @"<button value='109'>[109]　　─　　　　　　</button>"
ENDIF
SIF TALENT:ARG:감정결여 > 0
	LOCALS += "</font>"
HTML_PRINT LOCALS

DRAWLINE
SIF HAVE_TALENT > 4
	SETCOLOR 105,105,105
PRINTL [200] 결정
RESETCOLOR
PRINTL [300]精神素質をリセット
PRINTL [999]精神素質をランダムで設定
INPUT
SIF RESULT != 200
	CLEARLINE LINECOUNT - LCOUNT
IF RESULT == 200 && HAVE_TALENT <= 4
ELSEIF RESULT == 200
	CLEARLINE LINECOUNT - LCOUNT
	GOTO INPUT_LOOP
ELSEIF RESULT == 98
	CALL RAND_CHOOSE_KOJO_SEIKAKU(ARG,SEIKAKU_START,SEIKAKU_NUM)
	GOTO INPUT_LOOP
ELSEIF RESULT == 99
	FOR LOCAL, 0, SEIKAKU_NUM
		;性格の初期化
		TALENT:ARG:(LOCAL + SEIKAKU_START) = 0
	NEXT
	LOCAL = RAND:(SEIKAKU_NUM) + 10
	TALENT:ARG:LOCAL = 1
	IF TALENT:ARG:감정결여 > 0
		FOR LOCAL, 600, 700
			TALENT:ARG:LOCAL = 0
		NEXT
	ENDIF
	GOTO INPUT_LOOP
ElSEIF RESULT == 300
	FOR LOCAL, 600, 700
		TALENT:ARG:LOCAL = 0
	NEXT
	GOTO INPUT_LOOP
ElSEIF RESULT == 999
	FOR LOCAL, 600, 700
		TALENT:ARG:LOCAL = 0
	NEXT
	CALL CHARA_MAKE_STATUS_TALENT_SEIKAKU, ARG, RAND:3 + 1
	GOTO INPUT_LOOP
ELSEIF RESULT >= 0 && RESULT <= SEIKAKU_NUM - 1
	FOR LOCAL, 0, SEIKAKU_NUM
		;性格の初期化
		TALENT:ARG:(LOCAL + SEIKAKU_START) = 0
	NEXT
	LOCAL = RESULT + SEIKAKU_START
	TALENT:ARG:LOCAL = 1
	IF TALENT:ARG:감정결여 > 0
		FOR LOCAL, 600, 700
			TALENT:ARG:LOCAL = 0
		NEXT
	ENDIF
	GOTO INPUT_LOOP
ELSEIF RESULT == 100 && TALENT:ARG:감정결여 == 0
	IF TALENT:ARG:내성적 > 0
		TALENT:ARG:내성적 = 0
		TALENT:ARG:사교적 = 1
	ELSEIF TALENT:ARG:사교적 > 0
		TALENT:ARG:내성적 = 0
		TALENT:ARG:사교적 = 0
	ELSE
		TALENT:ARG:내성적 = 1
		TALENT:ARG:사교적 = 0
	ENDIF
	GOTO INPUT_LOOP
ELSEIF RESULT == 101 && TALENT:ARG:감정결여 == 0
	IF TALENT:ARG:제멋대로굼 > 0
		TALENT:ARG:제멋대로굼 = 0
		TALENT:ARG:헌신적 = 1
	ELSEIF TALENT:ARG:헌신적 > 0
		TALENT:ARG:제멋대로굼 = 0
		TALENT:ARG:헌신적 = 0
	ELSE
		TALENT:ARG:제멋대로굼 = 1
		TALENT:ARG:헌신적 = 0
	ENDIF
	GOTO INPUT_LOOP
ELSEIF RESULT == 102 && TALENT:ARG:감정결여 == 0
	IF TALENT:ARG:소심함 > 0
		TALENT:ARG:소심함 = 0
		TALENT:ARG:자존심높음 = 1
	ELSEIF TALENT:ARG:자존심높음 > 0
		TALENT:ARG:소심함 = 0
		TALENT:ARG:자존심높음 = 0
	ELSE
		TALENT:ARG:소심함 = 1
		TALENT:ARG:자존심높음 = 0
	ENDIF
	GOTO INPUT_LOOP
ELSEIF RESULT == 103 && TALENT:ARG:감정결여 == 0
	IF TALENT:ARG:보수적 > 0
		TALENT:ARG:보수적 = 0
		TALENT:ARG:호기심 = 1
	ELSEIF TALENT:ARG:호기심 > 0
		TALENT:ARG:보수적 = 0
		TALENT:ARG:호기심 = 0
	ELSE
		TALENT:ARG:보수적 = 1
		TALENT:ARG:호기심 = 0
	ENDIF
	GOTO INPUT_LOOP
ELSEIF RESULT == 104 && TALENT:ARG:감정결여 == 0
	IF TALENT:ARG:새드기질 > 0
		TALENT:ARG:새드기질 = 0
		TALENT:ARG:마조기질 = 1
	ELSEIF TALENT:ARG:마조기질 > 0
		TALENT:ARG:새드기질 = 0
		TALENT:ARG:마조기질 = 0
	ELSE
		TALENT:ARG:새드기질 = 1
		TALENT:ARG:마조기질 = 0
	ENDIF
	GOTO INPUT_LOOP
ELSEIF RESULT == 105 && TALENT:ARG:감정결여 == 0
	IF TALENT:ARG:쾌감에솔직 > 0
		TALENT:ARG:쾌감에솔직 = 0
		TALENT:ARG:쾌감을부정 = 1
	ELSEIF TALENT:ARG:쾌감을부정 > 0
		TALENT:ARG:쾌감에솔직 = 0
		TALENT:ARG:쾌감을부정 = 0
	ELSE
		TALENT:ARG:쾌감에솔직 = 1
		TALENT:ARG:쾌감을부정 = 0
	ENDIF
	GOTO INPUT_LOOP
ELSEIF RESULT == 106 && TALENT:ARG:감정결여 == 0
	IF TALENT:ARG:전투거부 > 0
		TALENT:ARG:전투거부 = 0
		TALENT:ARG:싸움꾼 = 1
	ELSEIF TALENT:ARG:싸움꾼 > 0
		TALENT:ARG:전투거부 = 0
		TALENT:ARG:싸움꾼 = 0
	ELSE
		TALENT:ARG:전투거부 = 1
		TALENT:ARG:싸움꾼 = 0
	ENDIF
	GOTO INPUT_LOOP
ELSEIF RESULT == 107 && TALENT:ARG:감정결여 == 0
	IF TALENT:ARG:수줍음 > 0
		TALENT:ARG:수줍음 = 0
		TALENT:ARG:배짱 = 1
		TALENT:ARG:결벽증 = 0
	ELSEIF TALENT:ARG:배짱 > 0
		TALENT:ARG:수줍음 = 0
		TALENT:ARG:배짱 = 0
		TALENT:ARG:결벽증 = 1
	ELSEIF TALENT:ARG:결벽증 > 0
		TALENT:ARG:수줍음 = 0
		TALENT:ARG:배짱 = 0
		TALENT:ARG:결벽증 = 0
	ELSE
		TALENT:ARG:수줍음 = 1
		TALENT:ARG:배짱 = 0
		TALENT:ARG:결벽증 = 0
	ENDIF
	GOTO INPUT_LOOP
ELSEIF RESULT == 108 && TALENT:ARG:감정결여 == 0
	IF TALENT:ARG:인간불신 > 0
		TALENT:ARG:인간불신 = 0
		TALENT:ARG:양도 = 1
		TALENT:ARG:남성기피 = 0
		TALENT:ARG:여성기피 = 0
	ELSEIF TALENT:ARG:양도 > 0
		TALENT:ARG:인간불신 = 0
		TALENT:ARG:양도 = 0
		TALENT:ARG:남성기피 = 1
		TALENT:ARG:여성기피 = 0
	ELSEIF TALENT:ARG:남성기피 > 0
		TALENT:ARG:인간불신 = 0
		TALENT:ARG:양도 = 0
		TALENT:ARG:남성기피 = 0
		TALENT:ARG:여성기피 = 1
	ELSEIF TALENT:ARG:여성기피 > 0
		TALENT:ARG:인간불신 = 0
		TALENT:ARG:양도 = 0
		TALENT:ARG:남성기피 = 0
		TALENT:ARG:여성기피 = 0
	ELSE
		TALENT:ARG:인간불신 = 1
		TALENT:ARG:양도 = 0
		TALENT:ARG:남성기피 = 0
		TALENT:ARG:여성기피 = 0
	ENDIF
	GOTO INPUT_LOOP
ELSEIF RESULT == 109 && TALENT:ARG:감정결여 == 0
	IF TALENT:ARG:모성적 > 0
		TALENT:ARG:모성적 = 0
		TALENT:ARG:소악마 = 1
		TALENT:ARG:눈에띄고싶어함 = 0
		TALENT:ARG:고상함 = 0
		TALENT:ARG:울보 = 0
	ELSEIF TALENT:ARG:소악마 > 0
		TALENT:ARG:모성적 = 0
		TALENT:ARG:소악마 = 0
		TALENT:ARG:눈에띄고싶어함 = 1
		TALENT:ARG:고상함 = 0
		TALENT:ARG:울보 = 0
	ELSEIF TALENT:ARG:눈에띄고싶어함 > 0
		TALENT:ARG:모성적 = 0
		TALENT:ARG:소악마 = 0
		TALENT:ARG:눈에띄고싶어함 = 0
		TALENT:ARG:고상함 = 1
		TALENT:ARG:울보 = 0
	ELSEIF TALENT:ARG:고상함 > 0
		TALENT:ARG:모성적 = 0
		TALENT:ARG:소악마 = 0
		TALENT:ARG:눈에띄고싶어함 = 0
		TALENT:ARG:고상함 = 0
		TALENT:ARG:울보 = 1
	ELSEIF TALENT:ARG:울보 > 0
		TALENT:ARG:모성적 = 0
		TALENT:ARG:소악마 = 0
		TALENT:ARG:눈에띄고싶어함 = 0
		TALENT:ARG:고상함 = 0
		TALENT:ARG:울보 = 0
	ELSE
		TALENT:ARG:모성적 = 1
		TALENT:ARG:소악마 = 0
		TALENT:ARG:눈에띄고싶어함 = 0
		TALENT:ARG:고상함 = 0
		TALENT:ARG:울보 = 0
	ENDIF
	GOTO INPUT_LOOP
ELSE
	GOTO INPUT_LOOP
ENDIF
PRINTL 
;체력などのBASE値の計算
CALL SEIKAKU_CHECK,"GET_TALENT_VALUE",ARG
LOCAL = RESULT
LOCAL:1 = 0
LOCAL:2 = 0
FOR LOCAL:3, 0, 7
	LOCAL:1 = LOCAL:3
	SIF LOCAL:3 > 2
		LOCAL:1 = LOCAL:3 + 7
	LOCAL:2 = BASE:ARG:(LOCAL:1)
	;성격 보정
	BASE:ARG:(LOCAL:1) = SEIKAKU_HOSEI_F(LOCAL, LOCAL:1, LOCAL:2)
	MAXBASE:ARG:(LOCAL:1) = BASE:ARG:(LOCAL:1)
NEXT

;성격에 따른 일인칭 설정
IF CSTR:ARG:4 == ""
	IF TALENT:ARG:고풍적 && ISFEMALE(ARG)
		CFLAG:ARG:8 = 20
	ELSEIF TALENT:ARG:경박함 && ISFEMALE(ARG)
		CFLAG:ARG:8 = 11
	ENDIF
ENDIF

;부위 결계 설정
CALL BASEUP_CAL_SHIELD, ARG

@SHOW_KOJO_EXIST(ARG:0, ARG:1)
TRYCCALLFORM KOJO_{ARG:1}_COLOR_{ARG:0}
	RESETCOLOR
	PRINTPLAIN 有
CATCH
	SETCOLOR 105,105,105
	PRINTPLAIN 無
	RESETCOLOR
ENDCATCH

;구상がある性格だけを選ぶ
@RAND_CHOOSE_KOJO_SEIKAKU(ARG,SEIKAKU_START,SEIKAKU_NUM)
#DIM CO
#DIM SEIKAKU_START
#DIM SEIKAKU_NUM
CO = 0
FOR COUNT, 0, SEIKAKU_NUM
	TRYCCALLFORM KOJO_{TALENT:ARG:남자}_COLOR_{COUNT+SEIKAKU_START}
		IF !TALENT:ARG:(COUNT+SEIKAKU_START)
			LOCAL:CO = COUNT
			CO ++
		ENDIF
	CATCH
	ENDCATCH
NEXT
RESETCOLOR
RAND CO
FOR COUNT, 0, SEIKAKU_NUM
	TALENT:ARG:(COUNT + SEIKAKU_START) = 0
NEXT
TALENT:ARG:((LOCAL:RESULT) + SEIKAKU_START) = 1
IF TALENT:ARG:감정결여 > 0
	FOR LOCAL, 600, 700
		TALENT:ARG:LOCAL = 0
	NEXT
ENDIF
